<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CinemaAddressDao">
    <insert id="add">
        insert into cinema_address (cinema_name, address, cinema_phone, cinema_status)
        values (#{cinemaName},#{address},#{cinemaePhone},#{cinemaStatus});
    </insert>
    <update id="delete">
        update cinema_address set cinema_status =2 where cinema_id = #{id}
    </update>
    <update id="update">
        update cinema_address
        <set>
            1=1
            <if test="cinemaName !=null">
                cinema_name = #{cinemaName}
            </if>
            <if test="address.address !=null">
                address = ${address.address}
            </if>
            <if test="cinemaPhone !=null">
                cinema_status =#{cinemaPhone}
            </if>
            <if test="cinemaStatus !=null">
                cinema_status = #{cinemaStatus}
            </if>
        </set>
        where  cinema_id = ${address.cinemaId}
    </update>
    <select id="allAdress" resultType="com.entity.CinemaAddress">
        select  * from cinema_address
    </select>
    <select id="getById" resultType="com.entity.CinemaAddress">
        select  * from cinema_address where cinema_id =#{id}
    </select>

</mapper>